@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-primary-1: #fff9ea; /* body  */
    --color-primary-2: #1d1d1dad; /* navbar letras não select */
    --color-primary-3: #f8d477; /* btn-hover */
    --color-primary-4: #ffe100; /* linha navbar */
    --color-primary-5: #ffcb45; /* btn */
    --color-primary-6: #e9a209; /* cor da logo */
    --color-primary-7: #4ba657; /* link hover footer */
    --color-primary-8: #7b7b7b; /* copyright footer */
    --color-primary-9: #dddddd; /* link a footer */
    --color-primary-10: #222; /* footer */
    --color-primary-11: #e8a100; /*multiplo uso (porquê eu quero kkkk)*/
    --color-primary-12: #fff3d6; /*cor suave combinante com o body */

    --color-neutral-0: #fff;    /* box mid*/
    --color-neutral-1: #1d1d1d; /* navbar select */
}

* {
   font-family: 'poppins' , sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    background-color: var(--color-primary-1);
}
section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    color: var(--color-primary-2);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
}

.section-title {
    font-size: 2.1875rem;
} 

.section-subtitle {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 2;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-item a {
    text-decoration: none;
    color: var(--color-primary-2);
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.material-symbols-outlined header {
    color: var(--color-primary-2);
}

#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);

}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    right: 10;
    z-index: 1;
}

#banner img {
    width: fit-content;
    width: 900px;  /* Largura fixa */
    height: 800px; /* Altura fixa */
}

footer {
    background: var(--color-primary-10);
    color: var(--color-primary-8);
    text-align: center;
    padding: 20px;
    width: 100%;
}

#footer-links {
    margin-bottom: 10px;
}

#footer-links a {
    color: var(--color-primary-9);
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.4s;
}

#footer-links a:hover {
    color: var(--color-primary-7);
}

#social-icons {
    margin-top: 10px;
    color: var(--color-neutral-0);
}

#social-icons a {
    margin: 0 10px;
    color: var(--color-neutral-0);
    font-size: 20px;
    transition: 0.4s;
}

#social-icons a:hover {
    transform: scale(1.2);
    color: var(--color-primary-7);
}

#footer-copyright a {
    color: var(--color-neutral-0);
    text-decoration: none;
    transition: 0.4s;
}

#footer-copyright a:hover {
    color: var(--color-primary-7);
}

.material-symbols-outlined footer {
    color: var(--color-neutral-0);
}

@media screen and (max-width: 1170px) {
    #nav_list, 
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img {
        height: 450px;
        width: 450px;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 1600px) {
    .Lixo_Eletronico > .carousel-container {
        transform: none;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}

#Intro {
    display: flex;
    margin-top: 2.5%;
}

#introduction {
    max-width: 75%;
}

#intro_title h1 {
    color: var(--color-primary-6);
    border-color: var(--color-primary-5);
    font-size: 2rem;
}

#intro_start {
    font-size: 1.35rem;
    max-width: 80%;
}

#intro_end {
    font-size: 1.35rem;
    max-width: 80%;
}

#intro_img {
    display: flex;
    position: relative;
    max-height: 500px;
    max-width: 498px;
    justify-self: center;
}

.Impactos {
    display: flex;
    margin-top: 2.5%;
    max-width: 100%;
    gap: 10px;
}

#impacts {
    max-width: 50%;
}

.impacts_amb_itens {
    font-size: 1.25rem;
    max-width: 100%;
    transform: translateX(25px);
}

.impacts_amb_itens h1 {
    font-size: 2rem;
    color: var(--color-primary-6);
}

.impacts_amb_itens h3 {
    transform: translateX(-25px);
}

.amb_title {
    transform: translateX(-25px);
}

.impacts_amb_itens li {
    gap: 10px;
}

.impacts_amb_itens p a {
    text-decoration: none;
    color: var(--color-primary-11);
}

.impacts_amb_itens ul {
    transform: translateX(-25px);
}

.impacts_amb_alt-itens {
    line-height: 1.75;
}

.span_text {
    font-weight: 750;
}

.img_02 {
    box-sizing: border-box;
    max-height: 500px;
    max-width: 50%;
    display: flex;
}

.img_02 img {
    align-items: right;
    height: 500px;
    width: 500px;
    transform: translateX(200px) translateY(125px);
    position: relative;
    border-radius: 10px;
}

.img_03 img {
    border-radius: 10px;
    transform: translateX(125px) translateY(125px);
}

#img_social img{
    transform: translateX(209px) translateY(165px);
    border-radius: 10px;
    width: 450px;
    height: 500px;
}

.div_footage {
    display: column;
}

.nice_title h1 {
    color: var(--color-primary-6);
    border-color: var(--color-primary-5);
    font-size: 2rem;
}

#bleh {
    transform: translateX(-25px);
}

/*Daqui até o outro comentário, é coisa do Carrossel*/

.carousel-container {
    position: relative;
    width: 35vw;
    height: 35vh;
    overflow: hidden;
    transform: translateX(180px);
    border-radius: 10px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 20px;
    z-index: 10;
    font-size: 1.5rem;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/*Aqui é o fim do Carrossel*/


.Lixo_Eletronico {
    display: flex;
    margin-top: 2.5%;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 50px;
    gap: 10px;
    background-color: var(--color-primary-12);
    border-radius: 15px;
}

.Lei_Vigente {
    display: flex;
    margin-top: 3%;
    max-width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    gap: 10px;
    background-color: var(--color-primary-12);
    border-radius: 15px;
}

#outros_title {
    position: relative;
}

#outros{
    max-width: 60%;
}

#outros_img video {
    width: 640px;
    height:360px;
    transform: translateX(100px) translateY(120px);
    border-radius: 15px;
}

@media screen and (max-width:1450px) {
    .Lixo_Eletronico > .carousel-container{
        align-self: center;
        transform: none;
    }
    img {
        display: none;
    }
    #introduction {
        max-width: 100%;
    }
    #intro_start{
        max-width: 100%;
    }
    #intro_end{
        max-width: 100%;
    }
    #impacts {
        max-width: 100%;
    }
    .impacts_amb_itens {
    font-size: 1.25rem;
    max-width: 100%;
    transform: translateX(0px);
    }
    #outros{
        max-width: 100%;
    }
    .title {
        max-width: 100%;
    }
    .description {
        max-width: 100%;
    }
    .banner {
        display: none;
    }
}

@media  screen and (max-width: 1325px) {
    #outros_img{
        display: none;
    }
    #outros{
        max-width: 100%;
    }
    video {
        display: none;
    }
    .carousel-container {
        display: none;
    }
    #introduction {
        max-width: 100%;
    }
    #intro_start{
        max-width: 100%;
    }
    #intro_end{
        max-width: 100%;
    }
    #impacts {
        max-width: 100%;
    }
    .impacts_amb_itens h3 {
    transform: translateX(0px);
    }
    .amb_title {
    transform: translateX(0px);
    }
    .impacts_amb_itens {
    font-size: 1.25rem;
    max-width: 100%;
    transform: translateX(0px);
    }
}