footer {
    background: #222;
    color: #7b7b7b;
    text-align: center;
    padding: 20px;
    width: 100%;
}

#footer-links {
    margin-bottom: 10px;
}

#footer-links a {
    color: #dddddd;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.4s;
}

#footer-links a:hover {
    color: var(--color-primary-7);
}

#social-icons {
    margin-top: 10px;
    color: var(--color-neutral-0);
}

#social-icons a {
    margin: 0 10px;
    color: var(--color-neutral-0);
    font-size: 20px;
    transition: 0.4s;
}

#social-icons a:hover {
    transform: scale(1.2);
    color: var(--color-primary-7);
}

#footer-copyright a {
    color: var(--color-neutral-0);
    text-decoration: none;
    transition: 0.4s;
}

#footer-copyright a:hover {
    color: var(--color-primary-7);
}

.material-symbols-outlined footer {
    color: var(--color-neutral-0);
}
